body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-brand {
  color: #3c90df;
}

.navbar-brand img {
  width: 30px;
  margin-right: 10px;
}

.nav-item {
  color: grey;
  > a {
    color: #3c90df;
    font-weight: normal;
    text-decoration: none;
    &.active {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

.btn {
  font-size: 15px;
}

.btn-primary,
.bg-primary {
  background-color: #3c90df !important;
  border: none;
}

.btn-primary:hover {
  background-color: #033a6d;
  opacity: 0.9;
}

.btn-secondary {
  background-color: #f9a230;
}

.btn-secondary:hover {
  background-color: #c57308;
  opacity: 0.9;
}

.icon {
  margin-right: 5px;
}